<div class="header-container">
    <!-- Logo fixa no canto esquerdo -->
    <div class="fixed-left">
        <a routerLink="/home" class="logo-link">
            <img class="logo" src="/assets/logo-black.png" alt="logo">
        </a>
    </div>

    <!-- Container da navegação que rola com a página -->
    <div class="scrolling-nav">
        <nav class="nav">
            <a routerLink="/home">Início</a>
            <a routerLink="/">Sobre</a>
            <a routerLink="/">Contato</a>
        </nav>
    </div>

    <!-- Botão fixo no canto direito -->
    <div class="fixed-right">
        <div class="botao">
            <a routerLink="/"><span data-hover="Contact us">Contact us</span></a>
        </div>
    </div>
</div>