<div class="header-container">

    <div class="fixed-left">
        <a routerLink="/home" class="logo-link">
            <img class="logo" src="/assets/logo-black.png" alt="logo">
        </a>
    </div>

    <div class="scrolling-nav">
        <nav class="nav">
            <a routerLink="/home">HOME</a>
            <a routerLink="/">analysis</a>
            <a routerLink="/">ABOUT US</a>
        </nav>
    </div>

    <div class="container-right">
        <div class="scrolling-button">
            <div class="botao">
                <a routerLink="/"><span data-hover=" TEAM "> TEAM </span></a>
            </div>
        </div>

        <div class="fixed-right" (click)="toggleMenu()" style="cursor: pointer;">
            <i class="fa-solid fa-bars fa-xl"></i>
        </div>


    </div>

    <div class="overlay" [class.open]="isMenuOpen()" (click)="closeMenu()"></div>

    <div class="sidebar-menu" [class.open]="isMenuOpen()">
        <div class="sidebar-header">
            <button class="close-btn" (click)="closeMenu()">&times;</button>
        </div>
        
        <ul class="sidebar-links">
            <li><a routerLink="/home" (click)="closeMenu()">HOME</a></li>
            <li><a routerLink="/" (click)="closeMenu()">ÁNALISE</a></li>
            <li><a routerLink="/" (click)="closeMenu()">ABOUT US</a></li>
        </ul>
    </div>
</div>