.header {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;

}

nav {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
    height: 24px;
}

nav span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

nav span::before {
    position: absolute;
    top: 120%;
    content: attr(data-hover);
    color: #030303;
}

nav a:hover span {
    transform: translateY(-120%);
}