/* Adicionado padding no body para compensar a altura do header fixo */


.header {
    display: flex;
    background-color: #00000000;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/*////////////////////*/

.logo {
    cursor: pointer;
    width: 3em;
    margin-left: 10px;
}

/*////////////////////*/


.nav {
    margin: auto;
    display: flex;
    padding: 0 0 0 80px;
    gap: 24px;
    background-color: transparent;
}

.nav a {

    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 0;
    cursor: pointer;
}

.nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease-in-out;
}

.nav a:hover::after {
    width: 100%;
}


/*////////////////////*/

.botao {
    margin-right: 15px;
    padding: 5px 0;
}

.botao a {
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    border-radius: 999px;
    padding: 10px 16px;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    position: relative;
    line-height: 1.2;
}

.botao span {
    position: relative;
    display: block;
    transition: transform 0.3s ease;
}

.botao span::before {
    content: attr(data-hover);
    position: absolute;
    top: 200%;
    left: 50%;
    border-radius: 999px;
    transform: translateX(-50%);
    width: 120px;
    height: 50px;
    background: #97720b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao a:hover span {
    transform: translateY(-290%);
}