.hero {
    font-family: var(--fonte);
    
}

/* Div container, que engloba a div box-texto e a div box-card*/
.container {
    display: flex;
    justify-content: center;
    gap: 0px;
    height: 100vh;
    padding: 50px;
}

/* Div que contém os textos */
.box-texto {
    
    padding: 0px 25px;
    width: 450px;
    color: rgb(73, 47, 0)
}

.box-texto h2 {
    font-size: 50px;
    font-weight: 400;
}

#subtitulo {
    margin-bottom: 20px;
}

.box-texto p {
    font-size: 20px;
    font-weight: 200;
}

.botao {
    margin-top: 28px;
}


.botao a {
    text-decoration: none;
    color: #ffffff;
    background: #201300;
    border-radius: 999px;
    padding: 14px 16px;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    position: relative;
    line-height: 1.2;
}

.botao span {
    position: relative;
    display: block;
    transition: transform 0.3s ease;
}

.botao span::before {
    content: attr(data-hover);
    position: absolute;
    top: 200%;
    left: 50%;
    border-radius: 999px;
    transform: translateX(-50%);
    width: 190px;
    height: 50px;
    background: #97720b;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao a:hover span {
    transform: translateY(-290%);
}


/* Div que contém o card Conscious Score */
.box-card {
    display: flex;
    flex-direction: column;
    background-color: #2e2419;
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    width: 310px;
    height: 450px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#titulo {
    color: #ffecd5;
    font-size: 33px;
    font-weight: 300;
}

/* Páragrafo que contém a média do Conscious Score */
#p-especial {
    color: #fff0dd;
    font-size: 18px;
}

#media {
    font-size: 30px;
    color: white;
}

#paragrafo {
    margin-bottom: 13px;
    color: #ffffff;
    font-weight: 200;
    font-size: 14px;
}

/* Div que contém a média em uma forma de "input" */
.score-bar {
    width: 100%;
    height: 13px;
    margin: -10px 0 30px;
    background: #533a19;
    border-radius: 10px;
    overflow: hidden;
}

.score-progress {
    width: 70%;
    height: 100%;
    background: #e0a21d;
    border-radius: 10px;
}

/* Div com os atributos e a nota */
.texto {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #fff1de;
    font-weight: 500;
}

.nota {
    color: white;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
    }

    .box-texto {
        width: 100%;
        max-width: 450px;
        padding: 15px 0;
    }

    .box-card {
        width: 100%;
        max-width: 310px;
    }
}