*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis definidas */
:root { 
    --fonte: "Stack Sans Text", sans-serif;
    --sombra: 0 10px 20px rgba(0, 0, 0, .2);
    --cor-destaque: rgb(201, 159, 46);
    --cor-titulos: rgb(73, 47, 0);
    --margin: 60px 70px;
    --cor-textos: rgb(0, 0, 0);
    --tamanho-base-fonte: 16px;
    --tamanho-h2-secoes-home: 30px;
    --tamanho-h3-secoes-home: 20px;
}

body {
    font-family: var(--fonte);
    font-size: var(--tamanho-base-fonte);
    color: var(--cor-textos);
    background-color: rgb(250, 247, 247);
    line-height: 1.3;
}
