*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variáveis definidas */
:root { 
    --fonte: "Stack Sans Text", sans-serif;;
    --sombra: 0 10px 20px rgba(0, 0, 0, .2);
}
